[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
pillow = "*"
notebook = "*"
numpy = "*"
matplotlib = "*"
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"
ipywidgets = "*"

[dev-packages]

[requires]
python_version = "3.9"
